    body {
        background-color: #b0926a;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
    #login {
        display: flex;
        flex-direction: column;
        background: #fff;
        padding: 10px;
        border-radius: 25px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        width: 100%;
    }
    .div {
        width: 100%;
        margin: auto;
    }
    h2 {
        text-align: center;
    }
    .login-centered {
        padding-top: 3rem;
        width: 40%;
        margin: auto;
    }
    input {
        height: 2rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    .flash-message {
        color: red;
        text-align: center;
        margin-top: 1rem;
    }

    .error-message {
    color: red;
    font-size: 0.8rem;
    margin-top: -0.5rem;
    margin-bottom: 0.5rem;
    }

    .valid {
    border: 2px solid green;
    }

    .invalid {
    border: 2px solid red;
    }