{% extends "base.html" %}
{% block title %}CafeCrest ChatBot{% endblock %}

{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/non-login/chatbot.css') }}">

<div class="chat-container">
    <div class="chat-header">BaristaBot</div>
    <div id="chatbox"></div>
    <div class="chat-input">
        <input type="text" id="userInput" placeholder="Type a message...">
        <button id="sendButton">Send</button>
    </div>
</div>

<script>
    document.getElementById("sendButton").onclick = function() {
        var userMessage = document.getElementById("userInput").value;
        if (userMessage.trim()!== '') {
            displayMessage(userMessage, 'user');
            sendMessage(userMessage);
            document.getElementById("userInput").value = '';
        }
    };

    function displayMessage(message, sender) {
        var chatbox = document.getElementById("chatbox");
        var msgDiv = document.createElement("div");
        msgDiv.textContent = message;

        // Apply different classes based on the sender
        if(sender === 'user') {
            msgDiv.className = "message user"; // Use className to set the class
        } else {
            msgDiv.className = "message bot";
        }

        chatbox.appendChild(msgDiv);
        chatbox.scrollTop = chatbox.scrollHeight;
        chatbox.style.alignItems = sender === 'user'? 'flex-end' : 'flex-start';
    }

    function sendMessage(message) {
        fetch('/ChatBot', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({message: message}),
        })
       .then(response => response.json())
       .then(data => {
            displayMessage(data.response, 'bot');
        })
       .catch((error) => {
            console.error('Error:', error);
            displayMessage("Error connecting to the chat service.", 'bot');
        });
    }
</script>
{% endblock %}
