{% extends "base.html" %}

{% block title %} Updating Payment {% endblock %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/login/update_payment_details.css') }}">

{% block content %}
    <div class="container">
        <form method="POST" action="{{ url_for('update_payment', id=id) }}" id="update_details" name="Updating Payment Details">
            <div class="form-group1">
                {{ form.card_number(class="form-control", type="password") }}
                <div class="toggle-password" onclick="togglePasswordVisibility(this)">
                    <i class="fa fa-eye"></i>
                </div>
            </div>
            <div class="form-group1">
                {{ form.expiration_date(class="form-control") }}
            </div>
            <div class="form-group1">
                {{ form.cvv(class="form-control", type="password") }}
                <div class="toggle-password" onclick="togglePasswordVisibility(this)">
                    <i class="fa fa-eye"></i>
                </div>
            </div>
            <div class="form-group1">
                {{ form.card_name(class="form-control") }}
            </div>
            <button type="submit" form="update_details" value="Submit" class="btn btn-primary float-end">Update</button>
        </form>
    </div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    function togglePasswordVisibility(element) {
        var inputField = element.previousElementSibling;
        if (inputField.type === "password") {
            inputField.type = "text";
        } else {
            inputField.type = "password";
        }
    }
</script>
{% endblock %}