{% extends "base.html" %}
{% block title %}CafeCrest - Login{% endblock %}
{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/user/Login.css') }}">

<div class="login-centered">
    <form method="POST" id="login">
        <input type="text" name="username" id="username" placeholder="Username" required>
<div class="error-message" id="username-error"></div>
        <input type="password" name="password" placeholder="Password" required>
        <div class="g-recaptcha" data-sitekey="6LdKdRcqAAAAAH8hbSx1-fPVrtAV7r5gfnPWlT9g"></div>
        <button type="submit">Login</button>
    </form>
</div>

<div class="flash-message" id="flash-message">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div>{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}
</div>

{% if lockout_time %}
<script>
    function validateInput(inputElement, errorElementId, pattern, errorMessage) {
    const inputValue = inputElement.value;
    const errorElement = document.getElementById(errorElementId);

    if (pattern.test(inputValue)) {
        inputElement.classList.add('valid');
        inputElement.classList.remove('invalid');
        errorElement.textContent = '';
        return true;
    } else {
        inputElement.classList.add('invalid');
        inputElement.classList.remove('valid');
        errorElement.textContent = errorMessage;
        return false;
    }
}

document.getElementById('username').addEventListener('input', function() {
    const pattern = /^[a-zA-Z0-9_]+$/;
    const errorMessage = 'Username can only contain letters, numbers, and underscores.';
    validateInput(this, 'username-error', pattern, errorMessage);
});


    let lockoutTime = {{ lockout_time }};
    const flashMessageDiv = document.getElementById('flash-message');

    function updateLockoutMessage() {
        if (lockoutTime <= 0) {
            flashMessageDiv.innerHTML = 'You can try logging in again now.';
            return;
        }

        const minutes = Math.floor(lockoutTime / 60);
        const seconds = lockoutTime % 60;
        flashMessageDiv.innerHTML = Too many failed login attempts. Please try again in ${minutes} minute(s) and ${seconds} second(s).;
        lockoutTime--;

        setTimeout(updateLockoutMessage, 1000);
    }

    updateLockoutMessage();
</script>
{% endif %}

<script src="https://www.google.com/recaptcha/api.js" async defer></script>
{% endblock %}