{% extends "base.html" %}
{% block title %}Retrieve Products{% endblock %}

{% block content %}
<h1 class="display-4">Retrieve Products</h1>
{% if count == 0 %}
  <p>There are no products.</p>
{% elif count == 1 %}
  <p>There is 1 Product.</p>
{% else %}
  <p>There are {{ count }} Products.</p>
{% endif %}

<div class="card-group">
  {% for product in products_list %}
    <div class="card" style="width: 18rem; margin: 10px;">
      <img src="{{ url_for('static', filename='uploads/' ~ product.photos) }}" class="card-img-top" alt="{{ product.name }}">
      <div class="card-body">
        <h5 class="card-title font-weight-bold">{{ product.name }}</h5>
        <p class="card-text">{{ product.description }}</p>
        <p class="card-text">{{ product.product }}</p>
        <p class="card-text">${{ product.price }}</p>
        <div class="d-flex justify-content-between">
          <a href="{{ url_for('update_product', id=product.id) }}" class="btn btn-warning">Update</a>
          <form action="{{ url_for('delete_product', id=product.id) }}" method="POST" class="ml-auto">
            <button type="submit" class="btn btn-danger">Delete</button>
          </form>
        </div>
      </div>
    </div>
  {% endfor %}
</div>
{% endblock %}