<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>CaféCrest</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/navbar/navbar.css') }}">
</head>
<body>
    <nav class="navbar bg-brown navbar-expand-sm navbar-dark navbar-fixed">
        <div class="container-fluid">
            <div>
                <button class="navbar-toggling" type="button" id="sidebarCollapse" data-bs-target="#sidebar" data-bs-toggle="collapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div class="col-sm">
                <a class="navbar-brand julius-font" href="/">CaféCrest</a>
            </div>
            <div>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Logout</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/adminPortal">Portal</a>
                    </li>
                    <!-- Search form -->
                    <li class="nav-item">
                        <form action="/action_page.php">
                            <input type="text" placeholder="Search.." name="search">
                            <button class="nav-search-button" type="submit">
                                <i class="nav-link">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                                    </svg>
                                </i>
                            </button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</body>
</html>
