<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Sidebar Example</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/navbar/side_navbar.css') }}">
</head>
<body>
<nav id="sidebar" class="active">
    <div class="sidebar-header">
        <nav class="navbar">
            <div class="col-sm"></div>
        </nav>
    </div>

    <ul class="list-unstyled components">
        {% if session.admin == True or session.staff == True %}
            {% if session.admin == True %}
                <li>
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li>
                    <a class="nav-link" href="/about_us">About Us</a>
                </li>
                <li>
                    <a class="nav-link" href="/contactUs">Contact Us</a>
                </li>
            {% elif session.staff == True %}
                <li>
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li>
                    <a class="nav-link" href="/about_us">About Us</a>
                </li>
                <li>
                    <a class="nav-link" href="/createProduct">Add New Items</a>
                </li>
                <li>
                    <a class="nav-link" href="/retrieveProducts">View Added Items</a>
                </li>
                <li>
                    <a class="nav-link" href="/customerOrder">Customer's Order</a>
                </li>
            {% endif %}
        {% else %}
            <li>
                <a class="nav-link" href="/">Home</a>
            </li>
            <li>
                <a class="nav-link" href="/about_us">About Us</a>
            </li>
            <li>
                <a class="nav-link" href="/order">Order</a>
            </li>
            <li>
                <a class="nav-link" href="/contactUs">Contact Us</a>
            </li>
        {% endif %}
    </ul>
</nav>
</body>
</html>
