   h1 {
        color: #000;
        text-align: center;
        font-family: Raleway;
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

   .carousel {
        width: 85%;
        height: calc(80vw * 0.5);
        border-radius: 25px;
        margin: auto;
    }

   .carousel-inner {
        height: calc(80vw * 0.5);
        border-radius: 25px;
    }

   .carousel-inner img {
        margin: auto;
    }